<div class="row">
  {{#link-to 'goat' goat.id}}
  <img src="{{goat.image}}" alt="picture of goat" />
  {{#if inCart}}
  <div class="sold-out">
  </div>
  <div class="sold-out-text">
    <h3>SOLD OUT!</h3>
  </div>
  {{/if}}
  {{/link-to}}
</div>
<div class="goat-info">
  <h2>{{goat.name}}</h2>
  <h5>{{goat.breed}} | ${{goat.price}}</h5>
</div>
