<div class="col-md-4 cart-left">
  <h1>Shopping Cart</h1>
  <img src="https://s-media-cache-ak0.pinimg.com/236x/75/53/3a/75533adf2ca55e3497d8c2c8e20f3175.jpg" alt="goat in a shopping cart">
</div>
<div class="col-md-8 cart-right">
  <h1>Goats</h1>
  {{display-cart}}
</div>
